/* index.css */
@import "tailwindcss";
@theme {
    --font-comfortaa: "Comfortaa", sans-serif;
    --color-mutedteal: #005A60;
    --font-yuyu: "Yuyu", sans-serif;
}
@layer utilities {
    .text-shadow-pink {
        text-shadow: 0 2px 5px rgba(157, 23, 77, 0.71);
    }
}
@layer components {
    body {
        @apply bg-gray-50;
    }
    button {
        @apply cursor-pointer hover:scale-103 p-2 rounded-md bg-gray-100 shadow-md;
    }
    input {
        @apply p-1 border border-gray-200 shadow-md rounded-md;
    }
}